
body {
    height: 3000px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}


span{
    font-size: .7em;
}
.producto{
    padding: 1em;
    background-color: rgb(201, 201, 201);
    margin-bottom: 1em;
}
.primero{
    background-color: rgb(229, 145, 145);
}